*.iml
.idea
build
node_modules
contracts/TemplateCrowdsale.sol
contracts/BonusableCrowdsale.sol
contracts/MainToken.sol
contracts/Consts.sol
test/templateCrowdsale.js
test/mainToken.js
migrations/2_deploy_contracts.js
.env